/**
* Base Stylesheet for the site @ rolon.co
* Written by JS Rolón
*/

@import url(./normalize.min.css);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700);

/******************
* Site
*******************/

html, body {
	min-height: 100%;
	height: 100%;
	
	font-family: 'Alegreya', serif;
	color: rgba(0, 0, 0, 0.75);
}

body {
	position: relative;
}

ul {
	list-style: none;
}

/******************
* Header & Navigation
*******************/

header {
	font-size: 40pt;
	line-height: 100px;
	font-weight: 700;

	text-align: center;
	text-decoration: none;
	
	height: 100px;
	width: 60%;
	
	margin: auto;
	padding-top: 3rem;

	border-bottom: 5px solid rgba(0, 0, 0, 0.25);
	transition: border 1000ms;
}

header:hover {
	border-bottom: 5px solid rgba(17, 78, 186, 0.45);
}

nav {
	width: 0;
	margin: auto;
}

/******************
* Text
*******************/

a {
	color: rgba(0, 0, 0, 0.75);
	text-decoration: none;

	transition: color 500ms;
}

a:hover {
	color: rgba(0, 0, 0, 0.65);
	text-decoration: none;	
}

footer > a {
	color: #fff;
	text-decoration: none;
}

footer > a:hover {
	color: #fff;
	text-decoration: none;
}

.column.left > h2 {
	margin-top: -5px;
}

p {
	line-height: 1.8rem;
}

/******************
* Content
*******************/

main {
	padding-top: 1.5rem;
	padding-bottom: calc( 80px + 2.5rem );

	min-height: calc( 100% - 165.5px - 8.5rem );

	width: 90%;
	margin: auto;
}

.column {
	text-align: center;
	padding: 1rem 2.5rem;

	width: calc( 50% - 5rem);
	margin: auto;
}

.column.left {
	line-height: 1.5rem;

	text-align: left;
	float: left;
}

.column.right {
	float: right;
	text-align: justify;
}

/******************
* Footer
*******************/

.footer-image {
	background-image: url(../img/background.jpg);
	background-position: center;
	background-size: cover;

	box-shadow: 0 0 20px -5px;

	bottom: 0;
	position: fixed;

	width: 100%;
}

footer {
	text-align: center;
	line-height: 80px;
	color: #fff;

	height: 80px;
	background-color: rgba(0, 0, 0, 0.65);
}
