<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %} - JS Rolón</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
	{{ content }}
	<div class="footer-wrapper">
	<footer>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a> &sdot; 2014 - {{ 'now' | date: "%Y" }} by JS Rolón &sdot; Source available @ <a href="http://github.com/jsrolon/jsrolon.github.io">Github</a>.
	</footer>
	</div>
	{% if page.title == 'Home' %}
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/map.js"></script>
	{% endif %}
	</body>
</html>
