<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %} - JS Rolón</title>
		<link rel="stylesheet" href="/css/style.css">
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics_debug.js','ga');

		  ga('create', 'UA-85066474-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>	
	{{ content }}
	<div class="footer-wrapper">
	<footer>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a> &sdot; 2014 - {{ 'now' | date: "%Y" }} by JS Rolón &sdot; Source available @ <a href="http://github.com/jsrolon/jsrolon.github.io">Github</a>.
	</footer>
	</div>
	</body>
</html>
